<!DOCTYPE html>
<html>
<head>
	<title>MetaBlog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		body {
			width: 900px;
			margin: 10px auto;
		}
		.new-content {
			width: 500px;
		}

		.light-text {
			color: white;
		}
		.profile-pic {
			width: 450px;
			margin-bottom: 15px;
		}
	</style>
</head>
<body>
	<nav class="navbar-dark bg-primary">
		<ul class="nav">
	  	<li class="nav-item">
		    <a class="light-text nav-link active" href="/">BLOGblog</a>
		  </li>
		  <li class="nav-item">
		    <a class="light-text nav-link" href="/articles">Articles</a>
		  </li>
		  <li class="nav-item">
		    <a class="light-text nav-link" href="/authors">Authors</a>
		  </li>
		  <li class="nav-item">
		    <a class="light-text nav-link" href="/tags">View by Tags</a>
		  </li>
	</ul>
</nav>
	<%- body%>
		
	<hr>
	<a href="/articles/new" class="btn btn-primary">Add Article</a>
	<a href="/authors/new" class="btn btn-primary">New Author</a>

<script src='/app.js'></script>
</body>
</html>