<!DOCTYPE html>
<html>
<head>
	<title>MetaBlog</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
		body {
			width: 900px;
			margin: 10px auto;
		}
	</style>
</head>
<body>
	<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/articles">Articles</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/authors">Authors</a>
  </li>
</ul>
	<%- body%>
		
	<hr>
	<a href="/articles/new" class="btn btn-primary">Add Article</a>
	<a href="/authors/new" class="btn btn-primary">New Author</a>

</body>
</html>